 <div class="col-sm-9">
      <div class="well">
        <h4>Dash Board</h4>
        <form class="comment-form" method="get">
 <img src="image" alt="">
 <label>Email</label>
 <p class="flex1"><input type="text" class="form-control flex2" placeholder="mail Id"> <button type="submit" class="btn btn-info">comment</button></p>
</form>
      </div>
   </div> 
